{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="Profile deleteion form for an image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint - Delete User Profile</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="text-center text-md-start">Delete User Profile</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <h2 class="text-center text-md-start imprint-warning mb-3">This is Irreversible</h2>

    <div class="form-wrapper text-center text-md-start">

            <div class="mb-5">
                <p>You can delete a user profile here. Doing so will permanently remove all their posts and their account, there is no way to retrieve the destroyed posts or recover their account once undertaken.</p>
                <p>Should you still wish to proceed, please confirm your admin password below.</p>
            </div>
    
            <form method="POST" action="{{ url_for('admin_delete_profile', delete_user=deleting_user['_id']) }}">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6 mb-4">
                    {{ form.old_password.label }}
                    {{ form.old_password }}
                    {% for message in form.old_password.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6 text-center mb-4">
                    {{ form.submit (class_="btn delete-button") }}
                </div>

            </form>

    </div>

{% endblock %}