{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="A contact form for an image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint - Contact</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="title">Contact</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="form-wrapper">

        <!-- Message to display on succesful email send -->
        {% if success %}
            <p>Thank you for your message, we will be in touch as soon as we can.</p>

        {% else %}
            <form method="POST" action="{{ url_for('contact') }}">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <fieldset class="form-field">
                    {{ form.name.label }}
                    {{ form.name }}
                    {% for message in form.name.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.email.label }}
                    {{ form.email }}
                    {% for message in form.email.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.body.label }}
                    {{ form.body }}
                    {% for message in form.body.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.recaptcha }}
                    {% for message in form.recaptcha.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                {{ form.submit }}

            </form>

        {% endif %}

    </div>

{% endblock %}