{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="A page allowing users to edit a post for an image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint - Edit Post</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="text-center text-md-start">Edit a Post</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="form-wrapper">

        <!-- Message to display on succesful upload -->
        {% if success %}
            <div class="text-center text-md-start mt-1 mb-5">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn">Back to Profile</a>
            </div>
            <div class="text-center">
                <img src="{{ image.photo }}" alt="{{ image.location }}" class="mb-4 image-container" />
            </div>
            <div>
                <h2>{{ image.location }}</h2>
                <p>Decade: {{ image.decade }}</p>
                <p>Added by: {{ image.owner }}</p>
                <p>{{ image.details }}</p>
                <p>Tags: {{ image.tags }}</p>
            </div>

        {% else %}
            <div class="text-center">
                <img src="{{ image.photo }}" alt="{{ image.location }}" class="image-container" />
            </div>

            <form method="POST" action="{{ url_for('edit_image', image_id=image._id) }}">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
                    {{ form.location.label }}
                    {{ form.location }}
                    {% for message in form.location.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
                    {{ form.decade.label }}
                    {{ form.decade }}
                    {% for message in form.decade.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
                    {{ form.details.label }}
                    {{ form.details }}
                    {% for message in form.details.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6">
                    {{ form.tags.label }}
                    {{ form.tags }}
                    {% for message in form.tags.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6 text-center text-md-start">
                    {{ form.submit (class_="btn") }}
                </div>

                <hr>

                <div class="imprint-form-field col-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6 text-center text-md-start mt-5 mb-5">
                    <a href="{{ url_for('delete_image', image_id=image._id) }}" class="btn delete-button">Delete Post</a>
                </div>

            </form>

        {% endif %}

    </div>

{% endblock %}
