{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="An image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="text-center text-md-start">Gallery
        {% if location_choice %}
        : <span id="location-choice">{{ location_choice }}</span>
        {% endif %}
    </h1>
{% endblock %}

<!-- Content to display in content block -->
{% block content %}

    <div class="text-center text-md-start">
        <p>Scroll through the images and explore this beautiful town.  You can filter by location or use the text search below to look for something specific.</p>
        <p>Using the location filter will show a coloured area on the map in the accordion below, showing the approximate location of the associated images.</p>
    </div>
    <!-- Accordion with search and filters inside -->
    <div class="accordion accordion-flush" id="accordionFilters">
        <!-- Gallery filters location and free text search -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="filters-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#filters-collapseOne" aria-expanded="false" aria-controls="filters-collapseOne">
                    Search & Filter
                </button>
            </h2>
            <div id="filters-collapseOne" class="accordion-collapse collapse" aria-labelledby="filters-headingOne"
                data-bs-parent="#accordionFilters">
                <div class="accordion-body">
                    <div class="row">
                        <!-- Location filter -->
                        <div class="col-12 col-md-6">
                            <form action="{{ url_for('location_filter') }}" method="POST">
                                <div class="col-12">
                                    <label for="location_filter" class="imprint-label">Filter images by location:</label>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                    <div class="col-8">
                                        <select name="location_filter">
                                            {% for location in locations %}
                                                <option value="{{ location.location_name }}">{{ location.location_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-4 text-end text-md-start">
                                        <button type="submit" class="btn">Filter</button>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Free text search -->
                        <div class="col-12 col-md-6">
                            <form action="{{ url_for('image_search') }}" method="POST">
                                <div class="col-12">
                                    <label for="image_search" class="imprint-label">Search images:</label>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                    <div class="col-8">
                                        <input type="text" name="image_search" id="image_search" />
                                    </div>
                                    <div class="col-4 text-end text-md-start">
                                        <button type="submit" class="btn">Search</button>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Clear all filters -->
                        <div class="col-12 text-center">
                            <a href="{{ url_for('gallery') }}" class="btn">Clear All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Google Map -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="maps-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#maps-collapseOne" aria-expanded="false" aria-controls="maps-collapseOne">
                Map
                </button>
            </h2>
            <div id="maps-collapseOne" class="accordion-collapse collapse" aria-labelledby="maps-headingOne" data-bs-parent="#accordionMaps">
                <div class="accordion-body">
                    <div id="map">
                        This should contain a Google Map, which shows the approximate area of the chosen location
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery images -->
    <div class="row">
        {% for image in images %}
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{{ url_for('single_image', image_id=image._id) }}">
                    <div class="card imprint-card">
                        <div class="imprint-card-image">
                            <img src="{{ image.photo }}" alt="{{ image.location }}" class="card-img-top">
                            <h3 class="imprint-card-title">{{ image.location }}</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Decade: {{ image.decade }}</p>
                            <p class="card-text">Added by: {{ image.owner }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
    <script async src="{{ maps_key }}"></script>
    <script src="{{url_for('static', filename='js/map_polygons.js') }}"></script>
    <script src="{{url_for('static', filename='js/maps.js') }}"></script>
{% endblock %}