{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="An image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1>Gallery</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="">
        <p>Just scroll through the images, filter by location or use text search to look for something specific.</p>
    </div>
    <!-- Gallery filters location and free text search -->
    <div class="row imprint-border">
        <!-- Location filter - not accessible as cannot apply label -->
        <div class="">
            <form action="{{ url_for('location_filter') }}" method="POST">
                <div class="">
                    <select name="location_filter">
                        <option value="" disabled selected></option>
                            {% for location in locations %}
                                <option value="{{ location.location_name }}">{{ location.location_name }}</option>
                            {% endfor %}
                    </select>
                    <label for="location_filter" class="imprint-label">Filter images by location:</label>
                </div>
                <div class="">
                    <button type="submit" class="btn">Filter</button>
                </div>
            </form>
        </div>
        <!-- Free text search -->
        <div class="col s12 m6">
            <form action="{{ url_for('image_search') }}" method="POST">
                <div class="col s7">
                    <label for="image_search" class="imprint-label">Search images:</label>
                    <input type="text" name="image_search" id="image_search" class="validate"/>
                </div>
                <div class="col s5 right-align">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
        <!-- Clear all filters -->
        <div class="col s12 center-align">
            <a href="{{ url_for('gallery') }}" class="btn">Clear All</a>
        </div>
    </div>

    <div class="row">

    {% for image in images %}

        <a href="{{ url_for('single_image', image_id=image._id) }}">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="{{ image.photo }}" alt="{{ image.location }}" class="card-img-top">
                    <div class="card-body">
                        <h3>{{ image.location }}</h3>
                        <p class="card-text">Decade: {{ image.decade }}</p>
                        <p class="card-text">Added by: {{ image.owner }}</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

    </div>

{% endblock %}