{% extends "base.html" %}

<!-- Content to display in title block -->
{% block title %}
    <h1>Gallery</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="row">

    {% for image in images %}

        <div class="col s12 m6 l4">
            <div class="card card-small">
                <div class="card-image">
                    <img src="{{ image.photo }}">
                    <span class="card-title">{{ image.location }}</span>
                </div>
                <div class="card-content">
                    <p>Decade: {{ image.decade }}</p>
                    <p>Added by: {{ image.owner }}</p>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>

{% endblock %}