{% extends "base.html" %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="title">Manage Profile</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <h2>Change Password</h2>

    <div class="form-wrapper">

        <!-- Message to display on succesful password change -->
        {% if success %}
            <p>Password updated.</p>
            <a href="{{ url_for('get_locations') }}" class="btn">Home</a>

        {% else %}
            <div>
                <p>Welcome {{ username }}, you can change your password here.</p>
            </div>
    
            <form method="POST" action="{{ url_for('profile', username=session['user']) }}">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <fieldset class="form-field">
                    {{ form.old_password.label }}
                    {{ form.old_password }}
                    {% for message in form.old_password.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.new_password.label }}
                    {{ form.new_password }}
                    {% for message in form.new_password.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {{ form.confirm.label }}
                    {{ form.confirm }}
                    {% for message in form.confirm.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                {{ form.submit }}

            </form>
        
        {% endif %}

    </div>

    <!-- Display posts added by user -->
    <div class="row">

        <h2>Posts by {{ username }}</h2>

        {% for image in images %}

            <a href="{{ url_for('edit_image', image_id=image._id) }}">
                <div class="col s12 m6 l4">
                    <div class="card card-small">
                        <div class="card-image">
                            <img src="{{ image.photo }}" alt="{{ image.location }}">
                            <span class="card-title">{{ image.location }}</span>
                        </div>
                        <div class="card-content">
                            <p>Decade: {{ image.decade }}</p>
                            <p>Added by: {{ image.owner }}</p>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}

        </div>

{% endblock %}