{% extends "base.html" %}

{% block title %}
    <h1 class="title">Register</h2>
{% endblock %}

{% block content %}

    <div class="form-wrapper">

        {% if success %}
            <p>Thank you for registering! Click the button below to get started.</p>
        
        {% else %}

            <form method="POST" action="{{ url_for('register') }}">
                {{ form.csrf_token }}

                <fieldset class="form-field">
                    {{ form.username.label }}
                    {{ form.username }}
                    {% for message in form.username.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.password.label }}
                    {{ form.password }}
                    {% for message in form.password.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {{ form.confirm.label }}
                    {{ form.confirm }}
                    {% for message in form.confirm.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.recaptcha }}
                    {% for message in form.recaptcha.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                {{ form.submit }}

            </form>

        {% endif %}

    </div>

{% endblock %}