{% extends "base.html" %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="title">Register</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="form-wrapper">

        <!-- Message to display on successful registration -->
        {% if success %}
            <p>Thank you for registering! Click the button below to get started.</p>
            <a href="{{ url_for('about') }}" class="btn">Begin</a>

        {% else %}
            <form method="POST" action="{{ url_for('register') }}">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <fieldset class="form-field">
                    {{ form.username.label }}
                    {{ form.username }}
                    {% for message in form.username.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.password.label }}
                    {{ form.password }}
                    {% for message in form.password.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {{ form.confirm.label }}
                    {{ form.confirm }}
                    {% for message in form.confirm.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.recaptcha }}
                    {% for message in form.recaptcha.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                {{ form.submit }}

            </form>

            <div>
                <p>If you already have an account, please <a class="btn" href="{{ url_for('login') }}">Login here</a></p>
            </div>

        {% endif %}

    </div>

{% endblock %}