{% extends "base.html" %}

<!-- Information to include in meta block -->
{% block meta %}
    <meta name="description" content="Single image detailed post view for an image sharing site which allows users to upload photographs of the historic saxon hilltop town Shaftesbury.">
    <title>Imprint - View Post</title>
{% endblock %}

<!-- Content to display in title block -->
{% block title %}
    <h1 class="text-center text-md-start">View a Post</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div>
        <img src="{{ image.photo }}" alt="{{ image.location }}" />
    </div>
    <div>
        <h2>{{ image.location }}</h2>
        <p>Decade: {{ image.decade }}</p>
        <p>Added by: {{ image.owner }}</p>
        <p>{{ image.details }}</p>
        <p>Tags: {{ image.tags }}</p>
    </div>
    <div>
        <a href="{{ url_for('gallery') }}" class="btn">Back</a>
    </div>

{% endblock %}
