{% extends "base.html" %}

<!-- Content to display in title block -->
{% block title %}
    <h1>Upload a Photo</h1>
{% endblock %}


<!-- Content to display in content block -->
{% block content %}

    <div class="form-wrapper">

        <!-- Message to display on succesful upload -->
        {% if success %}
            <p>Thank you for contributing!</p>
        {% endif %}

            <form method="POST" action="{{ url_for('upload', username=session['user']) }}" enctype="multipart/form-data">
                <!-- Hidden token proof that form came from page, uses secret key -->
                {{ form.csrf_token }}

                <fieldset class="form-field">
                    {{ form.location.label }}
                    {{ form.location }}
                    {% for message in form.location.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.decade.label }}
                    {{ form.decade }}
                    {% for message in form.decade.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.details.label }}
                    {{ form.details }}
                    {% for message in form.details.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.tags.label }}
                    {{ form.tags }}
                    {% for message in form.tags.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                <fieldset class="form-field">
                    {{ form.photo.label }}
                    {{ form.photo (accept_="image/*") }}
                    {% for message in form.photo.errors %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </fieldset>

                {{ form.submit }}

            </form>

    </div>

{% endblock %}
